body {
  background-image: url("../../assets/dex-ezekiel-IxDPZ-AHfoI-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header_title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  padding: 20px;
  color: #333;
  font-size: 24px;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
}

img:hover {
  cursor: pointer;
}

.product_Card {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px; /* Adjust spacing between items as needed */
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
