/* body {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
#e5e5f7 10px
    ),
    repeating-linear-gradient(#444cf755, #444cf7);
} */

.header_title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  padding: 20px;
  color: #333;
  font-size: 24px;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
}

img:hover {
  cursor: pointer;
}

.product-image {
  width: auto;
  height: 200px;
  object-fit: contain;
}

.cartText {
  position: relative;
  top: 20px;
  padding: 5px;
}

.products {
  margin-top: 30px;
}

.button {
  margin-top: 20px;
  margin-left: 10px;
  /* margin: 10px; */
}

/* .product_Card {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
} */

/* .product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px; /*Adjust spacing between items as needed 
} */
